body {
    font-family: 'Raleway', sans-serif;
    background: rgb(22, 21, 21);
    font-size: 15px;
}

header, main {
    padding-left: 25%;
}

/* HEADER */

header {
    margin: 4% 0% 0.4% 0%;
    padding-left: 24%;
    color:rgb(224, 220, 220);
}

h1 {
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
}

h2, h3{
    color:rgb(224, 220, 220);
}

i {
    color: #eee;
}

/* INPUT */

#mobile-search {
    display: none;
}

#desktop-search {
    display: inline-flex;
    width: 100%;
    margin-left: 0%;
}

input {
    background: #eee;
    color: #000;
    border: none;
    font-weight: 300;
    margin-left: 20%;
}

#search-desktop-bt {
    margin-left: 1%;
}

/* SEARCH  HISTORY */

#search-buttons {
    margin: 1% 0% 0% 19%;
}

.search {
    font-size: 0.7rem;
    margin-left: 1%;
    margin-top: 1%;
}

/* DATA */

#weather-container {
    margin-top: 1%;
    margin-left: -6%
}

#data-container {
    margin-left: -1%;
    color:rgb(224, 220, 220);
}


h3 {
    margin-top: 2%;
    font-weight: 600;
    font-size: 160%;
}

h2 {
    margin-top: -0.8%;
    margin-bottom: -0.8%;
    font-weight: 100;
    font-size: 190%;
}

img {
    width: 5rem;
}

.current-data {
    font-weight: 300;
    font-size: 115%;
}

/* CARDS */

h4 { 
    font-size: 110%;
    text-align: center;
}

.card {
    padding: 0%;
}

.card-img-top {
    width: 75%;
    margin: 0 auto;
}

.card-body p {
    color: black;
    margin-bottom: 2%;
    font-size: 90%;
}


/* FOOTER */

footer {
    margin-top: 13%;
    text-align: center;
}

footer nav {
    background: rgb(22, 21, 21);
}

footer i {
    margin-top: 1%;
    margin-bottom: 1%;
}

footer i:hover {
    opacity: 0.5;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
    
    header, main {
        padding: 1% 4% 1% 4%;
    }

    h1 {
        font-size: 3.3rem;
    }

    button {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    img {
        width: 4rem;
        margin-bottom: 3%;
    }

    /* REMOVE DESKTOP SEARCH */
    #desktop-search {
        display: none;
    }

    /* MOBILE SEARCH */

    input {
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.07rem;
        margin: 0% 1% 1% 10%;
    }

    #mobile-search {
        display: inline-block;
        width: 53%;
    }

    #search-mobile-bt {
        width: 4rem;
    }

}