body {
    font-family: 'Raleway', sans-serif;
    background: rgb(22, 21, 21);
    font-size: 15px;
    text-align: left;
}

p {
    font-weight: 200;
}

/* HEADER */

.container-fluid {
    text-align: center;
    width: 50%;
}

header {
    margin: 4% 0% 0.4% 0%;
    color:rgb(224, 220, 220);
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
}

h2, h3{
    color:rgb(224, 220, 220);
}

i {
    color: #eee;
}

/* INPUT */

#desktop-search {
    width: 100%;
    margin: 0%;
}

input {
    background: #eee;
    color: #000;
    border: none;
    font-weight: 300;
}

#search-desktop-bt {
    margin-left: 1%;
}

/* SEARCH  HISTORY */

#search-buttons {
    padding: 0%;
}

.new-button {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-left: 1%;
    margin-top: 2%;
    float: initial;
}

/* DATA */

#weather-container {
    padding: 1% 10% 1% 10%;
}

#data-container {
    color:rgb(224, 220, 220);
}

h2 {
    margin-top: 2%;
    margin-bottom: 0.4%;
    font-weight: 600;
    font-size: 160%;
}

h3 {
    margin-top: -0.8%;
    margin-bottom: -0.8%;
    margin-left: 0%;
    font-weight: 100;
    font-size: 190%;
}

img {
    width: 5rem;
    margin-bottom: 2%;
}

.current-data {
    font-weight: 300;
    font-size: 115%;
}

/* CARDS */

#future-data {
    margin-top: 2%;
}

h4 { 
    font-size: 110%;
    text-align: center;
}

.card {
    padding: 0%;
    margin: 0 auto;
    opacity: 0.95;
    min-width: 8rem !important;
}

.card-img-top {
    width: 60%;
    margin: 0 auto;
}

.card-body {
    text-align: center;
    padding: 0% 0% 10% 0%;
}

.card-body p {
    color: black;
    margin-bottom: 2%;
    font-size: 90%;
}


/* FOOTER */

footer {
    margin-top: 13%;
    text-align: center;
}

footer nav {
    background: rgb(22, 21, 21);
}

footer i {
    margin-top: 1%;
    margin-bottom: 1%;
}

footer i:hover {
    opacity: 0.5;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {

    .container-fluid {
        text-align: left;
        float: left;
        width: 100%;
    }


    h1 {
        font-size: 2rem;
    }

    #main-button {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    img {
        width: 4rem;
        margin-bottom: 3%;
    }

    #todays-date, #city-name {
        font-size: 80%;
    }

    h3 {
        margin-top: -3%;
        margin-bottom: -3%;
    }

    /* MOBILE SEARCH */

    input {
        width: 66% !important;
        height: 2rem;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.07rem;
    }

    #desktop-search {
        display: inline-flex;
        margin: 0 auto;
    }

    #search-desktop-bt {
        width: 33% !important;
        height: 2rem;
        padding: 0.1rem;
    }

    /* SEARCH HISTORY */

    .new-button {
        width: 32% !important;
    }

    /* DATA */

    #data-container {
         margin-left: -5%;
    }

    /* CARDS */

    .card {
        max-width: 9rem;
        font-size: 80%;
        margin-bottom: 1rem;
    }

}